/node_modules
/public/hot
/public/storage
/public/test
/storage/*.key
/storage/temp
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.package.json.swp
/phpunit.xml
